<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<connectionStrings>
		<add connectionString="Data Source=IVITOHPC;Initial Catalog=DB_SISTEMA_VENTA;Integrated Security=True" name="connection_chain" providerName ="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>